@font-face{

    font-family: Cormorant Garamond;
    src: url(public/CormorantGaramond-Regular.ttf);
}

@font-face{ 
    font-family: Montserrat-Regular;
    src: url(public/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}


div {
    font-family: Montserrat-Regular;
    font-size: 40px;
}
/* styles.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cormorant Garamond;
    font-size: 20px;
    background-color: #f2f2f2;
}

header {
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.profile-container {
    position: relative;
    float: left;
    z-index: 0;
    width: 100%;
    margin: auto;
    padding: 10px;  
}

.profile-background {
    background-color: #0891b2; 
    position: absolute;
    width: 250%;
    height: 75%;
    top: -10%;
    left:  -110%;  transform: rotate(-15deg); /* Rotate the background */
    z-index: -1; /* Make sure it stays behind the text */
}

.profile-image {
    width: 45%; 
    height: 25%;
    display: block;
    position: relative; 
    top: 10%;
    left: 5%;
    z-index: 1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    float: left;
}

.name-overlay {
    font-family: Roboto, sans-serif;
    text-shadow: 0px 0px 0px #222222;
    position: absolute;
    top: 18%;
    right: 5%;
    width: 100%;
    text-align: right;
    color: white; /* Or any color you want */
    /*Make font size responsive*/
    font-size: 3em; /* Adjust as necessary */
    transform: translateY(-50%); /* Centers the text vertically */
    z-index: 2; /* Make sure it's on top */
}

#about-me {
    background-color: #f09494;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    /*MOVE ABOUT me section up behind header*/
    position: relative;
    top: -375px;
    z-index: -1;
    padding: 2em 1em;
    margin: 1em;
    height: 100%;
    font-size: 1.5em;
    float: right;
}

#about-me-images {
    display: none;
}


#about-me > h2 {
    font-size: 3em;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#about-me > p {
    margin: 0;
    color: rgb(136, 136, 136);
    font-size: 1em;
    width: 50%;
    float: right;
    margin-right: -20px;
}


#about-me,
.my-work,
.contact-me {
    padding: 2em 1em;
}

/* About Me Section */

.social-links {
    font-family: Cormorant Garamond;
    font-size: 1.5em;
    text-align: center;
}

/* My Work Section */
#my-work > .project-item {
    margin-bottom: 1em;
}

.project {
    background-color: #e0e0e0;
    padding: 1em
}

.project-title,
.project-description {
    margin: 0;
}

/* Contact Me Section */
#contact-me {
    background-color: #ddd;
    text-align: center;
}

.contact-links {
    /* Style your contact links here */
}

/* Responsive Images */
img {
    max-width: 85%;
    height: 50%;
}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .header {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-background {
        background-color: #0891b2;
        width: 250%;
        height: 75%;
        top: -10%;
        left:  -110%;
        transform: rotate(-35deg);
    }


    .profile-image {
        top: 10;
        width: 75%;
        height: 50%;
    }

    .name-overlay {
        font-family: Roboto, sans-serif;
        text-shadow: 1px 1px 1px #222222;
        position: absolute;
        top: 65%;
        left: 15%;
        width: 50%;
        text-align: left;
        color: white; /* Or any color you want */
        font-size: 1.8em; /* Adjust as necessary */
        transform: translateY(-50%); 
    }

    #about-me {
        background-color: #f0f0f0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        position: absolute;
        top: -275px;
        z-index: -1;
        padding: 20px 10px;
        margin-right: -15px;
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #about-me > h2 {
        text-align: center;
     
    }

    #about-me > p {
        margin: 0;
        color: rgb(136, 136, 136);
        font-size: 1em;
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .about-me-images {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 5px;
        padding: 10px;
    }

    .project-container {
       /* Single column */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        max-width: none;
    }

    .project {
        width: 100% !important;
  }
    .project-title {
        font-size: 1em !important;
    }

  
}

/* Media query for desktops, colored green */
@media (min-width: 1024px){
    header {
        color: #fff;
        text-align: center;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    .profile-container {
        position: relative;
        float: left;
        z-index: 0;
        width: 100%;
        margin: auto;
        padding: 10px;  
    }
    
    .profile-background {
        background-color:#0891b2; 
        position: absolute;
        width: 250%;
        height: 75%;
        top: -10%;
        left:  -110%;  transform: rotate(-15deg); /* Rotate the background */
        z-index: -1; /* Make sure it stays behind the text */
    }
    
    .profile-image {
        width: 40%; 
        display: block;
        position: relative; 
        margin-top: 5%;
        z-index: 1;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
        float: left;
    }
    
    .name-overlay {
        font-family: Roboto, sans-serif;
        text-shadow: 0px 0px 0px #222222;
        position: relative;
        margin-top:  45%;
        text-align: left;
        left: -33%;
        color: white; /* Or any color you want */
        /*Make font size responsive*/
        font-size: 2.5em; /* Adjust as necessary */
        z-index: 2; /* Make sure it's on top */
    }
    
    #about-me {
        background-color: #a2a2a2;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        /*MOVE ABOUT me section up behind header*/
        position: relative;
        margin-top: 200px;
        padding:  0;
        top: -750px;
        z-index: -1;
        font-size: 1.5em;
        float: right;
    }
    
    .about-me-images {
        display: none;
    }
    
    
    #about-me > h2 {
        font-size: 3em;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: right;
    }
    
    #about-me > p {
        margin: 0;
        color: rgb(136, 136, 136);
        font-size: 1em;
        width: 50%;
        float: right;
        margin-right: -20px;
    }
    
    
    #about-me,
    .my-work,
    .contact-me {
        padding: 2em 1em;
    }
    
    /* About Me Section */
    
    .social-links {
        font-family: Cormorant Garamond;
        font-size: 1.5em;
        text-align: center;
    }
    
    /* My Work Section */
    #my-work > .project-item {
        margin-bottom: 1em;
    }
    
    .project {
        background-color: #e0e0e0;
        padding: 1em
    }
    
    .project-title,
    .project-description {
        margin: 0;
    }
    
    /* Contact Me Section */
    #contact-me {
        background-color: #ddd;
        text-align: center;
    }
    
    /* Responsive Images */
    img {
        max-width: 85%;
        height: 50%;
    }
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }

    .project {
        width: calc(50% -20px);
        margin-bottom: 20px;
    }
}

/* Projects */
.project-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Spreads the items evenly */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    max-width: 1200px; /* Adjust the maximum width of the container */
    margin: auto; /* Centers the container on the page */
    padding: 10px;
}

.project {
    width: calc(33.333% - 20px);
    height: 360px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    margin-bottom: 20px; /* Space between projects */
    background-color: white;
    border-radius: 2px; 
    text-align: center;
    overflow: hidden;
}

.project-image {
    width: 100%; /* Ensure images take up the full width of .project */
    height: 225px;
    display: block;
    padding: 0px;
    margin: 0px;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: stretch;
    margin: 0 auto;
}

.project-info {
    padding: 10px;
}

.project-title {
    margin-top: 15px; /* Removes default margin */
    margin-bottom: 0;
    padding: 10px 0; /* Adds some spacing above and below the title */
    text-align: center; /* Center-align the title */   
    font-size: 0.75em; /* Adjust the font size */
    font-size-adjust:inherit;
}

.project-links {
    display: flex;
    justify-content: center; /* Centers the links */
    padding-bottom: 5px; /* Adds some spacing above and below the links */
}

.project-link {
    margin: 0 10px; /* Adds horizontal spacing between links */
}

.project-link img {
    width: 30px; /* Adjust the size of icons */
    height: 30px;
    vertical-align: middle; /* Aligns image correctly with text if any */
}

/* Footer Styling */


footer#contact-me {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #0891b2;
    color: #fefefe;
    text-align: left;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%; /* Left side takes up half the width */
}

footer#contact-me h2 {
    margin-top: -30px;
    font-size: 1.5em;
    font-weight:700;
    padding-left: 50px;
    padding-top: 10px
}

.contact-blurb,
.contact-links{
    flex: 1; /* Each child will take up equal space */
    margin: 10px; /* Add some margin for spacing */
    max-width: 50%;
    font-size: .5em;
    padding-left:30px;
}

.contact-links a,
.contact-images a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 30px;
}

.contact-images {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    gap: 10px; /* Adjust gap as needed */
}

.footer-image {
    width: 50%; /* Image side takes up the other half of the width */
    display: flex;
    justify-content: flex-end;
}

.footer-image img {
    width: 100%; /* Image fills its container */
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    footer#contact-me {
        flex-direction: column;
        align-items: center;
    }

    footer#contact-me h2 {
        text-align: center;
        margin: 0;
        font-size: 1.5em;
        font-weight: 900;
    }

    .left-side,
    .footer-image {
        width: 100%; /* Both sections take full width on mobile */
    }

    .footer-image img {
        object-fit: contain; /* Adjust object-fit as necessary */
        margin-right: 60px;
    }


    .contact-blurb, .contact-links, .contact-images {
        font-size: .8em;
        justify-content: center;
        text-align: center;
        margin-left: 150px;
        padding: 10px;
    }

    .contact-links a, .contact-images a {
        width: auto; /* Auto width for anchor tags */
        margin: 0; /* Remove margins if necessary */
        justify-content: center;
    }

    .contact-images {
        justify-content: center; /* Center the social icons on mobile */
        margin-bottom: 5px;
        margin-left: 10px;
    }
}

@media (min-width: 900px) {

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%; /* Left side takes up half the width */
    }

    .contact-blurb,
    .contact-links{
        flex: 1; /* Each child will take up equal space */
        margin: 10px; /* Add some margin for spacing */
        max-width: 50%;
        font-size: .75em;
        padding-left:30px;
        padding-bottom: 10px;
    }

    .footer-image {
        width: 50%; /* Image side takes up the other half of the width */
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }

}